# T05 - Motor Trend Car Road Tests


<table style="width: 70%; margin: 20px auto; border-collapse: collapse; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);">
  <thead>
    <tr style="background: linear-gradient(90deg, #0F2027, #203A43, #2C5364); color: #ffffff; text-transform: uppercase;">
      <th style="padding: 12px 20px; border: 1px solid #ddd;">Nombre del Alumno</th>
      <th style="padding: 12px 20px; border: 1px solid #ddd;">Expediente</th>
      <th style="padding: 12px 20px; border: 1px solid #ddd;">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 12px 20px; border: 1px solid #ddd; text-align: center;">Christopher Jacob Ahumada Robles</td>
      <td style="padding: 12px 20px; border: 1px solid #ddd; text-align: center;">748077</td>
      <td style="padding: 12px 20px; border: 1px solid #ddd; text-align: center;">13/02/2025</td>
    </tr>
  </tbody>
</table>
   |

In [25]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [15]:
df=pd.read_excel("Motor Trend Car Road Tests (1).xlsx").dropna()

In [17]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [21]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [23]:
df_numeric = df.drop(columns=["model"])

X = df_numeric.drop(columns=["mpg"])   
y = df_numeric["mpg"]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.60, random_state=1234
)

model = LinearRegression()
model.fit(X_train, y_train)

r2_train = model.score(X_train, y_train)
r2_test = model.score(X_test, y_test)

r2_test,r2_train

(-1.95485288473781, 0.982202215572805)

In [29]:
pd.DataFrame({
    "Variable": X_train.columns,
    "Beta": model.coef_
}).sort_values(by="Beta", ascending=False)

  Variable       Beta
8     gear  11.090448
3     drat   9.208579
5     qsec   4.022189
0      cyl   1.692878
2       hp   0.033087
1     disp   0.010328
9     carb  -2.756225
7       am  -3.819665
4       wt  -5.134666
6       vs -13.186673

Pareciera sobre ajustado

In [32]:
from sklearn.linear_model import Ridge

In [40]:
alphas = [0.01, 0.1, 1, 10, 100]

results = []

for alpha in alphas:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)
    
    r2_train = ridge.score(X_train, y_train)
    r2_test  = ridge.score(X_test, y_test)
    
    results.append({
        "alpha": alpha,
        "R2_Train": r2_train,
        "R2_Test": r2_test
    })

df_results = pd.DataFrame(results)
df_results

    alpha  R2_Train   R2_Test
0    0.01  0.981932 -0.959677
1    0.10  0.975295  0.003205
2    1.00  0.922457  0.650425
3   10.00  0.837548  0.592454
4  100.00  0.777225  0.497352

In [42]:

X_qsec = df_numeric.drop(columns=["qsec"])
y_qsec = df_numeric["qsec"]

X_train_q, X_test_q, y_train_q, y_test_q = train_test_split(
    X_qsec, y_qsec, test_size=0.60, random_state=42
)

lr_q = LinearRegression()
lr_q.fit(X_train_q, y_train_q)

r2_train_q = lr_q.score(X_train_q, y_train_q)
r2_test_q  = lr_q.score(X_test_q, y_test_q)

print("Regresión lineal sin regularización:")
print("R2 Entrenamiento:", r2_train_q)
print("R2 Prueba:", r2_test_q)

alphas = [0.01, 0.1, 1, 10, 100]
results_qsec = []

for alpha in alphas:
    ridge_q = Ridge(alpha=alpha)
    ridge_q.fit(X_train_q, y_train_q)
    
    r2_train_ridge = ridge_q.score(X_train_q, y_train_q)
    r2_test_ridge  = ridge_q.score(X_test_q, y_test_q)
    
    results_qsec.append({
        "alpha": alpha,
        "R2_Train": r2_train_ridge,
        "R2_Test": r2_test_ridge
    })

df_results_qsec = pd.DataFrame(results_qsec)
df_results_qsec

Regresión lineal sin regularización:
R2 Entrenamiento: 0.9989478049029176
R2 Prueba: -1.0013422169955772

    alpha  R2_Train   R2_Test
0    0.01  0.997515 -0.116763
1    0.10  0.985579  0.687833
2    1.00  0.934724  0.714126
3   10.00  0.845388  0.504445
4  100.00  0.783662  0.423188

In [48]:
df_dummies = pd.get_dummies(df.drop(columns=["model"]),
                            columns=["cyl", "gear", "carb"],
                            drop_first=True)

X = df_dummies.drop(columns=["mpg"])
y = df_dummies["mpg"]

lr = LinearRegression()
lr.fit(X, y)

r2_global = lr.score(X, y)

coef_df = pd.DataFrame({
    "Variable": X.columns,
    "Beta": lr.coef_
}).sort_values(by="Beta", ascending=False)

print("Regresión lineal (todos los datos):")
print("R² global:", r2_global)
print("\nCoeficientes del modelo:")
print(coef_df)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.60, random_state=42)

lr_split = LinearRegression()
lr_split.fit(X_train, y_train)

r2_train = lr_split.score(X_train, y_train)
r2_test  = lr_split.score(X_test, y_test)

print("\nRegresión lineal (con train-test-split):")
print("R² de entrenamiento:", r2_train)
print("R² de prueba:", r2_test)
alphas = [0.01, 0.1, 1, 10, 100]
results = []

for alpha in alphas:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)
    
    results.append({
        "alpha": alpha,
        "R2_Train": ridge.score(X_train, y_train),
        "R2_Test": ridge.score(X_test, y_test)
    })

df_results = pd.DataFrame(results)
print("\nResultados con regularización L2 (Ridge):")
df_results

Regresión lineal (todos los datos):
R² global: 0.8930749320864843

Coeficientes del modelo:
   Variable      Beta
15   carb_8  7.250411
14   carb_6  4.477569
12   carb_3  2.999639
10   gear_5  2.528396
5        vs  1.930851
6        am  1.212116
2      drat  1.182830
9    gear_4  1.114355
13   carb_4  1.091423
4      qsec  0.367845
0      disp  0.035546
1        hp -0.070507
8     cyl_8 -0.336163
11   carb_2 -0.979354
7     cyl_6 -2.648695
3        wt -4.529776

Regresión lineal (con train-test-split):
R² de entrenamiento: 1.0
R² de prueba: -1.3252877613458698

Resultados con regularización L2 (Ridge):

    alpha  R2_Train   R2_Test
0    0.01  0.999157 -0.657636
1    0.10  0.988780 -0.032189
2    1.00  0.939826  0.482308
3   10.00  0.859247  0.615758
4  100.00  0.805792  0.590720

In [ ]:
df_dummies = pd.get_dummies(df.drop(columns=["model"]),
                            columns=["cyl", "gear", "carb"],
                            drop_first=True)



y = df_dummies["qsec"]

lr = LinearRegression()
lr.fit(X, y)

r2_global = lr.score(X, y)

coef_df = pd.DataFrame({
    "Variable": X.columns,
    "Beta": lr.coef_
}).sort_values(by="Beta", ascending=False)


coef_df

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.60, random_state=42)

lr_split = LinearRegression()
lr_split.fit(X_train, y_train)

r2_train = lr_split.score(X_train, y_train)
r2_test  = lr_split.score(X_test, y_test)

(r2_train)
(r2_test)

alphas = [0.01, 0.1, 1, 10, 100]
results = []

for alpha in alphas:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)
    
    results.append({
        "alpha": alpha,
        "R2_Train": ridge.score(X_train, y_train),
        "R2_Test": ridge.score(X_test, y_test)
    })

df_results = pd.DataFrame(results)
print("\nResultados con regularización L2 (Ridge):")
print(df_results)